flask==3.0.0
flask-cors==4.0.0
flask-jwt-extended==4.6.0
bcrypt==4.1.2
pyodbc>=5.2.0
torch==2.6.0
numpy==1.26.4
tqdm
tensorflow==2.15.0
keras==2.15.0
opencv-python
imutils
sk-video
scikit-learn
SoccerNet
matplotlib
